@font-face {
    font-family: 'Harry Potter';
    src: url(./fonts/HARRP___.TTF);
}

header {
    position:initial;
    padding-top: 200px;
    max-height: 2px;
    background-color: rgba(216, 24, 24, .75);
}

header span {
    color: white;
    padding: 9px 20px;
    background-color: rgba(0,136,255,10);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    height: fit-content;
}

header button:hover {
    background-color: rgb(22, 21, 133);

}

h2 {
    position:absolute;
    left: 560px;
    top: 5px;
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-shadow: .025em .05em .38em rgb(89, 230, 248);
}

#search-input {
    position: absolute;
    right: 150px;
    top: 100px;
    width: 200px;
    height: 30px;
}

body {
    background-image: url("hogwarts-background.png");
    background-color: rgba(237, 238, 238, 0.214);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    object-fit: inherit;
}


#main-image {
    border-radius: 5%;
    border-color: rgba(255, 255, 255, 0.822);
    border-style: solid;
    width: 300px;
    height: 400px;
    position: relative;
    left: 0px;
    top: 50px;
    object-fit: fill;
}


#main-display {
    text-align: center;
}


#main-display ul{
    background-color: rgb(255, 168, 168);
    font-size: larger;
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

#main-display button {
  color: white;
  padding: 9px 25px;
  background-color: rgba(0,136,255,10);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
 
}

#main-display button:hover {
    background-color: rgb(22, 21, 133);
}


#main-display h3 {
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: rgb(255, 168, 168);
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

/* #main-display ul {
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: x-large;
} */